<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>

    <add key="lMenuInfoPizza" value="Pizza"/>
    <add key="lMenuInfoMainDish" value="Dania główne"/>
    <add key="lMenuInfoSoups" value="Zupy"/>
    <add key="lMenuInfoDrinks" value="Napoje"/>
    

    <add key="priceAll" value="PriceAll"/>
    <add key="dishes" value="Dishes"/>
    <add key="idPrice" value="idPrice"/>
    <add key="comments" value="Comments"/>
    <add key="id" value="id"/>
    <add key="sidesDishes" value="SidesDishes"/>
    <add key="date" value="Data"/>
    <add key="price" value="Price"/>
    <add key="dish" value="Dish"/>

    <add key="priceForDish" value="# Cenna za danie: "/>
    <add key="hashSigns51" value="###################################################"/>
    <add key="commentsMessag" value="Uwagi do zamówienia: "/>

    <add key="beginningOfOrderCode" value="____start____"/>
    <add key="endOfOrderCode" value="^^^^^end^^^^^"/>
    <add key="priceAllBeginning" value="priceAllBeginning"/>
    <add key="priceAllEnd" value="priceAllEnd"/>
    <add key="dishBeginning" value="dishBeginning"/>
    <add key="dishEnd" value="dishEnd"/>
    <add key="nPrice" value="Cena"/>

    <add key="pizza" value="Pizza"/>
    <add key="denmark" value="Dania główne"/>
    <add key="soups" value="Zupy"/>
    <add key="drinks" value="Napoje - 5zł"/>


    <add key="margh" value="Margheritta"/>
    <add key="veget" value="Vegetariana"/>
    <add key="tosca" value="Tosca"/>
    <add key="venec" value="Venecia"/>

    <add key="marghPrice" value="Margheritta -20zł"/>
    <add key="vegetPrice" value="Vegetariana -22zł"/>
    <add key="toscaPrice" value="Tosca -25zł"/>
    <add key="venecPrice" value="Venecia -25zł"/>

    <add key="doubelCheese" value="Podwójny Ser"/>
    <add key="salami" value="Salami"/>
    <add key="ham" value="Szynka"/>
    <add key="mushrooms" value="Pieczarki"/>

    <add key="doubelCheesePrice" value="Podwójny Ser -2zł"/>
    <add key="salamiPrice" value="Salami -2zł"/>
    <add key="hamPrice" value="Szynka -2zł"/>
    <add key="mushroomsPrice" value="Pieczarki -2zł"/>

    <add key="schnitzel" value="Schabowy z frytkami/ryżem/ziemniakami"/>
    <add key="fish" value="Ryba z frytkami"/>
    <add key="potato" value="Placek po węgiersku"/>

    <add key="schnitzelPrice" value="Schabowy z frytkami/ryżem/ziemniakami -30zł"/>
    <add key="fishPrice" value="Ryba z frytkami -28zł"/>
    <add key="potatoPrice" value="Placek po węgiersku -27zł"/>

    <add key="bar" value="Bar sałatkowy"/>
    <add key="setOfSauces" value="Zestaw sosów"/>

    <add key="barPrice" value="Bar sałatkowy -5zł"/>
    <add key="setOfSaucesPrice" value="Zestaw sosów -6zł"/>


    <add key="tomato" value="Pomidorowa"/>
    <add key="chickenSoup" value="Rosół"/>

    <add key="tomatoPrice" value="Pomidorowa -12zł"/>
    <add key="chickenSoupPrice" value="Rosół -10zł"/>

    <add key="coffee" value="Kawa"/>
    <add key="tea" value="Herbata"/>
    <add key="cola" value="Cola"/>

    <add key="coffeePrice" value="Kawa -5zł"/>
    <add key="teaPrice" value="Herbata -5zł"/>
    <add key="colaPrice" value="Cola -5zł"/>

    <add key="sender" value="nadacwca"/>
    <add key="password" value="hasło"/>
    <add key="smtp" value="smtp"/>
    <add key="port" value="port"/>
    <add key="recipient" value="odbiorca"/>
   

  </appSettings>
  
 
</configuration>